<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<solr.customSolrManagedSchema>
				<commands applyToIndex="all">
					<CopyField delete="true">
						<source>compositecontentfield_t</source>
						<dest>autosuggest</dest>
					</CopyField>
				</commands>
			</solr.customSolrManagedSchema>
		</contentSearch>
	</sitecore>
</configuration>