<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<solr.customSolrManagedSchema>
				<commands applyToIndex="all">
					<Type>
						<name>my_type</name>
						<class>solr.TextField</class>
						<positionIncrementGap>100</positionIncrementGap>
						<indexAnalyzer>
							<tokenizer>
								<class>solr.StandardTokenizerFactory</class>
							</tokenizer>
							<filters>
								<class>solr.LowerCaseFilterFactory</class>
							</filters>
							<filters>
								<class>solr.StopFilterFactory</class>
								<format>snowball</format>
								<words>lang/stopwords_de.txt</words>
								<ignoreCase>true</ignoreCase>
							</filters>
							<filters>
								<class>solr.GermanNormalizationFilterFactory</class>
							</filters>
							<filters>
								<class>solr.GermanLightStemFilterFactory</class>
							</filters>
						</indexAnalyzer>
						<queryAnalyzer>
							<tokenizer>
								<class>solr.StandardTokenizerFactory</class>
							</tokenizer>
							<tokenizer>
								<class>solr.LetterTokenizerFactory</class>
							</tokenizer>
							<filters>
								<class>solr.LowerCaseFilterFactory</class>
							</filters>
							<filters>
								<class>solr.SynonymGraphFilterFactory</class>
								<expand>true</expand>
								<ignoreCase>true</ignoreCase>
								<synonyms>lang/synonyms_de.txt</synonyms>
							</filters>
							<filters>
								<class>solr.StopFilterFactory</class>
								<format>snowball</format>
								<words>lang/stopwords_de.txt</words>
								<ignoreCase>true</ignoreCase>
							</filters>
							<filters>
								<class>solr.GermanNormalizationFilterFactory</class>
							</filters>
							<filters>
								<class>solr.GermanLightStemFilterFactory</class>
							</filters>
						</queryAnalyzer>
					</Type>
				</commands>
			</solr.customSolrManagedSchema>
		</contentSearch>
	</sitecore>
</configuration>