<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<solr.customSolrManagedSchema>
				<commands applyToIndex="all">
					<Type>
						<name>my_type</name>
						<class>solr.TextField</class>
						<positionIncrementGap>100</positionIncrementGap>
						<analyzer>
							<filters>
								<class>solr.LowerCaseFilterFactory</class>
							</filters>
							<filters>
								<class>solr.GermanNormalizationFilterFactory</class>
							</filters>
							<filters>
								<class>solr.GermanLightStemFilterFactory</class>
							</filters>
						</analyzer>
					</Type>
				</commands>
			</solr.customSolrManagedSchema>
		</contentSearch>
	</sitecore>
</configuration>