<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<solr.customSolrManagedSchema>
				<commands applyToIndex="all">
					<Field>
						<name>mySimpleField</name>
						<type>string</type>
						<indexed>false</indexed>
						<stored>true</stored>
					</Field>
				</commands>
			</solr.customSolrManagedSchema>
		</contentSearch>
	</sitecore>
</configuration>